.text-area {
	-fx-background-color: #333;
	-fx-control-inner-background: #333;
	-fx-highlight-text-fill: #333;
	-fx-text-fill: #fff;
	-fx-font-family: Consolas;
}

.text-field {
	-fx-font-family: Consolas;	
}

.context-menu {
	-fx-background-color: #cccccc;
	-fx-text-fill: #333333;
  }
