@font-face {
    font-family: 'FreeMono';
    src: url('FreeMono.ttf');
}

.main-box {
    -fx-padding: 1mm 1mm 1mm 1mm;
    -fx-font-size: 1.2em;
}

.main-box.ios {
    -fx-padding: 1mm 1mm 5mm 1mm;
}

.main-box.ios.notch {
    -fx-padding: 1mm 1mm 10mm 1mm;
}

.main-box.ios.notch:landscape {
    -fx-padding: 1mm 12mm 6mm 12mm;
}

.top-box {
    -fx-padding: 1mm 1mm 1mm 1mm;
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing: 5px;
}

.top-box.ios {
    -fx-padding: 5mm 1mm 1mm 1mm;
}

.top-box.ios.notch {
    -fx-padding: 12mm 1mm 1mm 1mm;
}

.top-box.ios.notch:landscape {
    -fx-padding: 1mm 1mm 1mm 1mm;
}



.terminal {
    -fx-background-color: #333;
    -fx-control-inner-background: #333;
    -fx-highlight-text-fill: #333;
    -fx-text-fill: #fff;
    -fx-font-family: Consolas;
}

.context-menu {
    -fx-background-color: #cccccc;
    -fx-text-fill: #333333;
}

.button {
    -fx-background-radius: 0;
    -fx-background-color: #03687f;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-font-family: Consolas;
}

.button:hover {
    -fx-background-color: #06819c;
}

.button:pressed {
    -fx-background-color: #055b6e;
}

.button:disabled {
    -fx-text-fill: -text-disabled;
}

.circ-button {
    -fx-background-radius: 40;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
    -fx-background-color: #03687f;
    -fx-text-fill: #fff;
    -fx-alignment: center;
    -fx-font-family: 'FreeMono';
    -fx-font-size: 20;
}